<div [hidden]="!(hasVisableOption$ | async)" class="aui-option-group">
    <ng-content select="[auiOptionGroupTitle]"></ng-content>
    <div class="aui-option-group__content">
        <ng-content></ng-content>
    </div>
</div>