@import '../../theme/_var';
@import '../../theme/_mixin';

@mixin option-group($block) {
  .#{$block} {
    &__title {
      font-size: $font-size-small;
      line-height: $line-height-small;
      padding: $menu-group-title-padding $select-options-padding;
      color: $color-text-help;
    }
  }

  #{$block}:not(:first-child) .#{$block} {
    margin-top: $menu-padding;
    padding-top: $menu-padding;
    border-top: $menu-group-divide-width $menu-group-divide-style
      $menu-group-divide-color;
  }
}
