@import '../../theme/_var';
@import '../../theme/_mixin';

@mixin component-style($block) {
  .#{$block} {
    display: inline-block;
    position: relative;
    width: $select-width;
    color: $input-color;
    vertical-align: middle;

    &:hover {
      cursor: text;
    }

    .aui-tag {
      max-width: 100%;
    }

    &.isDisabled {
      background-color: $input-bg-color-disabled;
      border-color: $input-border-color;
      cursor: not-allowed;

      .aui-tag {
        color: $input-border-color;
        background-color: $input-bg-color-disabled;
      }
    }

    &__placeholder {
      display: inline-block;
      width: 100%;
      color: $input-placeholder-color;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &[hidden] {
        display: none;
      }
    }

    &--large {
      $ver-margin: (
          $input-large-height - $tag-medium-height - $input-border-width * 2
        )/2;

      min-height: $input-large-height;
      font-size: $input-large-font-size;
      padding-top: $ver-margin;
      padding-right: $input-padding-hoz * 2 + $input-large-font-size;
      .aui-tag {
        margin: 0 4px $ver-margin 0;
      }
    }

    &--large.isClearable {
      padding-right: $input-padding-hoz * 2 + $input-large-font-size * 2 +
        $icon-margin-hoz;
    }

    &--medium {
      $ver-margin: (
          $input-medium-height - $tag-small-height - $input-border-width * 2
        )/2;

      min-height: $input-medium-height;
      font-size: $input-medium-font-size;
      padding-top: $ver-margin;
      padding-right: $input-padding-hoz * 2 + $input-medium-font-size;

      .aui-tag {
        margin: 0 4px $ver-margin 0;
      }
    }

    &--medium.isClearable {
      padding-right: $input-padding-hoz * 2 + $input-medium-font-size * 2 +
        $icon-margin-hoz;
    }

    &--small {
      $ver-margin: (
          $input-small-height - $tag-mini-height - $input-border-width * 2
        )/2;

      min-height: $input-small-height;
      font-size: $input-small-font-size;
      padding-top: $ver-margin;
      padding-right: $input-padding-hoz * 2 + $input-small-font-size;

      .aui-tag {
        margin: 0 4px $ver-margin 0;
      }
    }

    &--small.isClearable {
      padding-right: $input-padding-hoz * 2 + $input-small-font-size * 2 +
        $icon-margin-hoz;
    }

    &--mini {
      $ver-margin: (
          $input-mini-height - $tag-mini-height - $input-border-width * 2
        )/2;

      min-height: $input-mini-height;
      font-size: $input-mini-font-size;
      padding-top: $ver-margin;
      padding-right: $input-padding-hoz * 2 + $input-mini-font-size;

      .aui-tag {
        margin: 0 4px $ver-margin 0;
      }
    }

    &--mini.isClearable {
      padding-right: $input-padding-hoz * 2 + $input-mini-font-size * 2 +
        $icon-margin-hoz;
    }

    &__suffix {
      position: absolute;
      top: 50%;
      right: $input-padding-hoz;
      transform: translateY(-50%);
    }

    .aui-tag#{&}__input {
      width: 1em;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      color: $input-color;

      &--hidden {
        opacity: 0;
        width: 0;
        padding: 0;
        margin: 0;
      }
    }
  }

  .aui-form-item.hasError #{$block}.ng-invalid .aui-input {
    border-color: $color-error;
  }
}
