<div [class]="rootClass" (mousedown)="$event.preventDefault()" (click)="inputRef.focus()">
    <span [hidden]="!displayPlaceholder" [class]="bem.element('placeholder')">{{ placeholder }}</span>
    <aui-tag *ngFor="let tag of tags; trackBy: trackByValue" type="info" [size]="tagSize" [round]="true" [closeable]="!disabled" (close)="onRemove(tag)">{{ tag }}</aui-tag>
    <input #inputRef [class]="inputClass" autocomplete="off" [hidden]="disabled" [disabled]="disabled" (focus)="onInputFocus()"
        (blur)="onInputBlur()" (keydown)="onKeyDown($event)" (input)="onInput()">
</div>