@import '../../theme/_var';

.aui-alerts-wrapper {
  position: fixed;
  right: $alerts-wrapper-right;
  top: $alerts-wrapper-top;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: $toast-z-index;
}
