@import '../../theme/_var';
$status-color-map: (
  success: $color-success,
  info: $color-info,
  error: $color-error,
  warning: $color-warning,
  explanation: $color-explanation,
);

.aui-alert {
  margin: 0 20px 10px 0;
  display: flex;
  position: relative;
  border-radius: 3px;
  padding: 16px 20px;
  align-items: flex-start;
  background-color: $color-white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  cursor: pointer;

  @each $status, $color in $status-color-map {
    &.#{$status} {
      border-left: 5px solid $color;
      .aui-alert__icon {
        font-size: 16px;
        width: 16px;
        color: $color;
        &-title {
          line-height: 24px;
        }
        &-content {
          line-height: 20px;
        }
      }
    }
  }

  &__body {
    margin: 0 13px 0 8px;
    width: 252px;
  }
  &__title {
    margin-bottom: 4px;
    font-size: 18px;
    text-align: left;
    color: #4d4d4d;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__content {
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #4d4d4d;
    max-height: 110px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-right: 4px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &__close {
    font-size: 12px;
    right: 10px;
    width: 12px;
    line-height: 24px;
    color: #999;
    cursor: pointer;
    &:hover {
      color: #37acf0;
    }
  }
  &__svg {
    position: absolute;
    fill: $toast-close-color;
  }
}
