<div [@inOut]="animate" (@inOut.done)="onAnimationEnd($event)" [class]="'aui-alert aui-alert--'+type" [ngClass]="type">
  <div class="aui-alert__icon">
    <aui-icon [icon]="iconType" [ngClass]="!!title ? 'aui-alert__icon-title' : 'aui-alert__icon-content'"></aui-icon>
  </div>
  <div class="aui-alert__body">
    <div *ngIf="title" class="aui-alert__title" [innerHTML]="title">
    </div>
    <div *ngIf="content" class="aui-alert__content" [innerHTML]="content">

    </div>
    <ng-template cdkPortalHost></ng-template>
    <ng-template #modal_component></ng-template>
  </div>
  <div class="aui-alert__close" >
    <div *ngIf="duration <= 0 || isHover" (click)="clear()">
        <aui-icon icon="close_12"></aui-icon>
    </div>
    <div *ngIf="duration > 0 && !isHover">{{ remains > 0 ? remains : 1 }}s</div>
  </div>
</div>
