@import '../../theme/_var';

.aui-messages-wrapper {
  position: fixed;
  left: $messages-wrapper-left;
  top: $messages-wrapper-top;
  height: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: $toast-z-index;
}
