<div [@inOut]="animate" (@inOut.done)="onAnimationEnd($event)" [class]="'aui-message aui-message--'+type">
  <div [ngClass]="'aui-message__icon--'+type">
    <aui-icon [icon]="iconType"></aui-icon>
  </div>
  <div class="aui-message__content">
    {{ content }}
  </div>
</div>
