@import '../../theme/_var';
$status-color-map: (
  success: $color-success,
  info: $color-info,
  error: $color-error,
  warning: $color-warning,
  explanation: $color-explanation,
);

.aui-message {
  display: flex;
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);

  @each $status, $color in $status-color-map {
    &__icon--#{$status} {
      svg {
        position: relative;
        fill: $color;
      }
    }
  }
  &__icon--info {
    svg {
      background: none;
      border-radius: 0;
      fill: $color-info;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
  }
}
