@import '../theme/_var';
@import '../theme/_mixin';

@mixin option-container($block) {
  .#{$block} {
    @include border-box-sizing;
    padding: $select-options-padding 0;
    border-radius: $border-radius;
    background-color: $color-white;
    @include popper-shadow;

    &__content {
      max-height: $select-options-max-height;
      position: relative;
      overflow: auto;
    }

    &__placeholder {
      color: $color-text-placeholder;
      font-size: $font-size-regular;
      text-align: center;
    }
  }
}
