<div [class]="rootClass" [class.isDisabled]="disabled" #selectRef #tooltipRef="auiTooltip" [auiTooltip]="templateRef" [auiTooltipDisabled]="disabled"
    auiTooltipTrigger="click" auiTooltipPosition="bottom start" auiTooltipType="plain" (auiTooltipShow)="onShowOptions()" (auiTooltipHide)="onHideOptions()">
    <aui-input-group>
        <input #inputRef class="aui-select__input" autocomplete="off" aui-input [value]="getInputValue()" [disabled]="disabled" [size]="size"
            [placeholder]="getPlaceholder()" [readonly]="inputReadonly" (input)="onInput($event)" (keydown)="onKeyDown($event)"
            (blur)="closeOption()">
        <aui-icon *ngIf="displayClearable()" auiInputSuffix class="aui-select__clear" (click)="clearValue($event)" icon="close_8"></aui-icon>
        <aui-icon auiInputSuffix class="aui-select__indicator" [icon]="loading ? 'spinner' : 'caret_down_s'"></aui-icon>
    </aui-input-group>
</div>

<ng-template #templateRef>
    <div class="aui-option-container" [style.minWidth]="containerWidth" (mousedown)="$event.preventDefault()">
        <div #optionListRef class="aui-option-container__content">
            <aui-option #inputingOption *ngIf="allowCreate && filterString && !(hasMatchedOption$ | async)" [value]="filterString">{{ filterString }}</aui-option>
            <ng-container *ngIf="allowCreate">
                <aui-option *ngFor="let value of customCreatedValues$ | async" [value]="value">{{ value }}</aui-option>
            </ng-container>
            <ng-content></ng-content>
        </div>
        <div [hidden]="(allowCreate && filterString) || (hasVisableOption$ | async)" class="aui-option-container__placeholder">
            <ng-content select="aui-option-placeholder"></ng-content>
        </div>
    </div>
</ng-template>