@import '../theme/_var';
@import '../theme/_mixin';
@import './option-container';

@include option-container(aui-option-container);

.aui-select {
  @include border-box-sizing;
  display: inline-block;
  position: relative;
  width: $select-width;

  &:not(.isDisabled):hover {
    .aui-input {
      border-color: $input-border-color-primary;
    }
  }

  &__clear .aui-icon {
    border-radius: 100%;
    cursor: pointer;
    @include transition;
    color: $select-close-icon-color;

    &:hover {
      color: $input-bg-color;
      background-color: $select-close-icon-color;
    }
  }

  &.isClearable .aui-input-group .aui-select__input.aui-input {
    &--large {
      padding-right: $input-padding-hoz * 2 + $input-large-font-size * 2 +
        $icon-margin-hoz;
    }
    &--medium {
      padding-right: $input-padding-hoz * 2 + $input-medium-font-size * 2 +
        $icon-margin-hoz;
    }
    &--small {
      padding-right: $input-padding-hoz * 2 + $input-small-font-size * 2 +
        $icon-margin-hoz;
    }
    &--mini {
      padding-right: $input-padding-hoz * 2 + $input-mini-font-size * 2 +
        $icon-margin-hoz;
    }
  }
}

aui-select.ng-invalid .aui-input {
  text-decoration: line-through;
}

.aui-form-item.hasError aui-select.ng-invalid .aui-input {
  border-color: $color-error;
}
