<div #elRef [ngClass]="rootClass">
  <input [name]="name" [id]="id" class="aui-radio-button__input" type="radio" [disabled]="disabled" [checked]="checked" (click)="onClick()"
    (blur)="onBlur()">
  <aui-icon *ngIf="checked && isPlain" class="aui-radio-button__pointer" icon="check_triangle_s"></aui-icon>
  <label class="aui-radio-button__label" [for]="id">
    <span class="aui-radio-button__content">
      <ng-content></ng-content>
    </span>
  </label>
</div>