@import '../theme/_var';

.aui-paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  &__pages {
    .aui-button {
      padding: 0;
      min-width: $height-small;
      & + .aui-button {
        margin-left: $paginator-inner-block-margin;
      }
    }
  }
  &__page.aui-button--primary[disabled] {
    color: $color-white;
    background-color: $color-primary;
  }
  &__page-size {
    margin-left: $paginator-outer-block-margin;
    .aui-select {
      width: $paginator-page-size-select-width;
    }
    span {
      margin-left: $paginator-inner-block-margin;
    }
  }
  &__total {
    margin-left: $paginator-outer-block-margin;
  }
}
