<div class="aui-paginator">
  <div class="aui-paginator__pages">
    <button
      class="aui-paginator__previous"
      aui-button
      size="small"
      (click)="previousPage()"
      [disabled]="!hasPreviousPage()"
    >
      <aui-icon icon="angle_left"></aui-icon>
    </button>
    <button
      class="aui-paginator__page"
      *ngFor="let page of pages"
      [aui-button]="page === pageIndex ? 'primary' : 'default'"
      size="small"
      [disabled]="page === pageIndex"
      (click)="setPage(page)"
    >
      {{ page + 1 }}
    </button>
    <button
      class="aui-paginator__next"
      aui-button
      size="small"
      (click)="nextPage()"
      [disabled]="!hasNextPage()"
    >
      <aui-icon icon="angle_right"></aui-icon>
    </button>
  </div>
  <div
    *ngIf="!hidePageSize"  
    class="aui-paginator__page-size"
  >
    <aui-select
      [(ngModel)]="pageSize"
      size="small"
      (ngModelChange)="changePageSize($event)"
    >
      <aui-option
        *ngFor="let item of _displayedPageSizeOptions"
        [value]="item"
      >{{ item }}</aui-option>
    </aui-select>
    <span>{{ intl.itemsPerPageLabel }}</span>
  </div>
  <span class="aui-paginator__total">
    {{ intl.getTotalLabel(length) }}
  </span>
</div>