<div [class]="bem.element('wrapper')">
  <label [class]="bem.element('label')">
    <span *ngIf="required">*</span>
    {{ label }}
  </label>
  <div [class]="[bem.element('control', size)]">
    <div [class]="bem.element('control-body')">
      <div [class]="bem.element('control-prefix')" *ngIf="prefixs.length">
        <ng-content select="[auiControlPrefix]"></ng-content>
      </div>
      <div [class]="bem.element('control-elem', {
          prefixed: !!prefixs.length,
          suffixed: !!suffixs.length
        })">
        <ng-content></ng-content>
      </div>
      <div [class]="bem.element('control-suffix')">
        <ng-content select="[auiControlSuffix]"></ng-content>
      </div>
    </div>
    <div [class]="bem.element('hint')" *ngIf="!error">
      <ng-content select="[auiHint]:not([auiHintAlign='end'])"></ng-content>
      <ng-content select="[auiHint][auiHintAlign='end']"></ng-content>
    </div>
    <div [class]="bem.element('error-hint')" *ngIf="error">
      <ng-content select="[auiErrorHint]"></ng-content>
    </div>
  </div>
</div>
