$block: aui-form-field;

.#{$block} {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__label {
    display: flex;
    width: 160px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    height: 32px;
    white-space: nowrap;
    &:after {
      content: ':';
      margin: 0 0 0 2px;
    }
  }
  &--required {
    .#{$block}__label {
      > span {
        color: #eb6262;
        padding-right: 8px;
      }
    }
  }
  &__control {
    display: flex;
    flex-direction: column;
    width: 260px;
  }
  &__control--full {
    width: unset;
    flex-grow: 1;
  }
  &__control-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__control-elem {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    min-height: 32px;
    > input,
    select,
    textarea {
      height: 32px;
      border: solid 1px #ccc;
      box-sizing: border-box;
      outline: none;
      border-radius: 3px;
      padding: 6px;
      flex: 1;
      min-width: 0;
      font-size: 14px;
      background-color: #fff;
      &::placeholder {
        color: #ccc;
      }
    }
    > textarea {
      height: 100px;
    }
  }
  &--error {
    .#{$block}__control-elem {
      > input,
      select,
      textarea {
        border-color: #eb6262;
      }
    }
  }
  &__control-elem--prefixed {
    > input,
    select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
  &__control-elem--suffixed {
    > input,
    select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }
  &__control-prefix {
    > .aui-button {
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0 8px;
    }
    > span {
      display: flex;
      border: solid 1px #ccc;
      box-sizing: border-box;
      height: 32px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      padding: 0 8px;
      background-color: #f2f2f2;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__control-suffix {
    > .aui-button {
      border-radius: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 8px;
    }
    > span {
      display: flex;
      border: solid 1px #ccc;
      box-sizing: border-box;
      height: 32px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      padding: 0 8px;
      background-color: #f2f2f2;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__hint,
  &__error-hint {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #999;
    font-size: 12px;
  }
  &__error-hint {
    color: #eb6262;
  }
}
