<span>Notification</span>
<button aui-button (click)="notificationService.success('success')">
  success
</button>
<button aui-button (click)="notificationService.warning('warning')">
  warning
</button>
<button aui-button (click)="notificationService.error({content:'error content',title:'error title',duration:4500})">
  error
</button>
<button aui-button (click)="notificationService.info({content:'info',duration:0,id:'test01'})">
  info
</button>

<button aui-button (click)="test01()">
  with tempate
</button>

<ng-template #template>
  <button>inline template btn</button>
</ng-template>
