<div [ngClass]="classesMap" (click)="onSwitch()">
  <input #input [ngClass]="bem.element('input')" type="checkbox" [disabled]="disabled" [checked]="checked" (blur)="onBlur()">
  <span [ngClass]="bem.element('bar')">
    <i [ngClass]="bem.element('dot')"></i>
  </span>
</div>