<form #form="ngForm" auiForm [auiFormLabelWidth]="labelWidth" [auiFormLabelPosition]="labelPosition" [auiFormInline]="inline"
    [auiFormEmptyAddon]="true">
    <aui-form-item>
        <label auiFormItemLabel>姓名</label>
        <input auiFormItemControl name="name" #name="ngModel" aui-input required minlength="3" [(ngModel)]="value1">
        <div auiFormItemError *ngIf="name.errors?.required">required</div>
        <div auiFormItemError *ngIf="name.errors?.minlength">minlength: 3</div>
        <div auiFormItemHint>input your name</div>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>性别</label>
        <aui-select auiFormItemControl name="sex" #sex="ngModel" required [(ngModel)]="value2">
            <aui-option value="asdf">asdf</aui-option>
        </aui-select>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>food</label>
        <aui-radio-group name="food" [(ngModel)]="food">
            <aui-radio-button value="apple">apple</aui-radio-button>
            <aui-radio-button value="coffe">coffe</aui-radio-button>
            <aui-radio-button value="tea" disabled="true">tea</aui-radio-button>
            <aui-radio-button value="icecream">icecream</aui-radio-button>
        </aui-radio-group>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>food</label>
        <aui-radio-group name="food1"  [(ngModel)]="food">
            <aui-radio value="apple">apple</aui-radio>
            <aui-radio value="coffe">coffe</aui-radio>
            <aui-radio value="tea" disabled="true">tea</aui-radio>
            <aui-radio value="icecream">icecream</aui-radio>
        </aui-radio-group>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>foods</label>
        <aui-checkbox-group name="foods" [(ngModel)]="foods">
            <aui-checkbox value="apple">apple</aui-checkbox>
            <aui-checkbox value="coffe">coffe</aui-checkbox>
            <aui-checkbox value="tea" disabled="true">tea</aui-checkbox>
            <aui-checkbox value="icecream">icecream</aui-checkbox>
        </aui-checkbox-group>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>开关</label>
        <aui-switch auiFormItemControl></aui-switch>
        <div auiFormItemAddon>
            <aui-icon icon="info_circle_s"></aui-icon>
        </div>
    </aui-form-item>
    <aui-form-item>
        <label auiFormItemLabel>描述</label>
        <textarea auiFormItemControl aui-input></textarea>
    </aui-form-item>
    <button aui-button="primary" (click)="form.onSubmit(null)">submit</button>
    <button aui-button (click)="form.reset();$event.preventDefault()">reset</button>
</form>