@import '../theme/_mixin';
@import '../theme/_var';

$block: 'aui-checkbox';

.#{$block} {
  @include border-box-sizing;
  margin-right: $checkbox-margin;
  display: inline-block;
  color: $checkbox-color;
  font-size: $checkbox-font-size;
  line-height: $checkbox-line-height;
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover .#{$block}__pointer {
      border-color: $checkbox-border-color-primary;
    }
  }

  &__pointer {
    display: inline-block;
    width: $checkbox-pointer-width;
    height: $checkbox-pointer-width;
    margin-right: $checkbox-label-margin;
    border-radius: $checkbox-pointer-radius;
    border: $checkbox-border-width $checkbox-border-style $checkbox-border-color;
    color: $checkbox-bg-color;
    background-color: $checkbox-bg-color;
    position: relative;
    @include transition();

    .aui-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.cdk-keyboard-focused &__pointer {
    border-color: $checkbox-border-color-primary;
    @include outline-shadow($checkbox-outline-color);
  }

  &.isChecked &__pointer {
    border-color: $checkbox-border-color-primary;
    background-color: $checkbox-border-color-primary;
  }

  &.isDisabled &__label {
    cursor: not-allowed;
  }

  &.isDisabled &__pointer {
    color: $checkbox-border-color;
    border-color: $checkbox-border-color;
    background-color: $checkbox-bg-color-disabled;
  }

  &.isDisabled.isChecked &__pointer::before {
    background-color: $checkbox-border-color;
  }
}
