<div #elRef class="aui-checkbox" [class.isDisabled]="disabled" [class.isChecked]="checked">
  <input [name]="name" [id]="id" class="aui-checkbox__input" type="checkbox" [checked]="checked" [disabled]="disabled" (click)="onClick()"
    (blur)="onBlur()">
  <label class="aui-checkbox__label" [for]="id">
    <i class="aui-checkbox__pointer">
      <aui-icon icon="check_s" [hidden]="!checked"></aui-icon>
    </i>
    <span class="aui-checkbox__content">
      <ng-content></ng-content>
    </span>
  </label>
</div>