@import '../theme/_var';

aui-message-wrapper {
  position: fixed;
  left: $messages-wrapper-left;
  top: $messages-wrapper-top;
  height: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
