@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-confirm-dialog {
  $icon-size: 24px;
  $icon-margin: 8px;

  @include border-box-sizing();

  margin: auto;
  padding: 32px 32px 24px;
  min-width: $dialog-small-width;
  max-width: $dialog-medium-width;
  background-color: $color-white;

  &__title {
    margin-bottom: 8px;
    line-height: $icon-size;
    font-size: $font-size-larger;
    color: $color-text-main;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-right: $icon-margin;
    font-size: $icon-size;

    &--primary,
    &--warning {
      color: $color-warning;
    }
    &--success {
      color: $color-success;
    }
    &--danger {
      color: $color-error;
    }
  }

  &__content {
    margin-bottom: 24px;
    padding-left: $icon-margin + $icon-size;
    font-size: $font-size-regular;
    color: $color-text-secondary;
    word-break: break-all;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
}
