@import '../theme/_var';

.aui-code-editor {
  height: 100%;
  min-height: $code-editor-min-height;
  border: $code-editor-border;
  border-radius: $border-radius;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.aui-code-editor-monaco-editor {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.aui-code-editor--dark .aui-code-editor-toolbar {
  background-color: $code-editor-toolbar-background-dark;
  color: $code-editor-toolbar-color-dark;

  .aui-checkbox__content {
    color: $code-editor-toolbar-color-dark;
  }

  .aui-code-editor-toolbar__control-button-icon > svg {
    fill: $color-white;
  }
}

.aui-code-editor-toolbar {
  height: $code-editor-toolbar-height;
  background-color: $code-editor-toolbar-background;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
  padding: $code-editor-toolbar-padding;

  display: flex;
  align-items: center;

  &__spacer {
    flex: 1;
  }

  &__language {
    font-size: $code-editor-toolbar-icon-size;
    margin-right: 25px;
    white-space: nowrap;
  }

  &__control-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: $code-editor-toolbar-font-size;
    margin: 0 $code-editor-toolbar-control-margin;
    opacity: 0.6;
    white-space: nowrap;

    &:hover,
    &--active {
      opacity: 1;
    }
  }

  .aui-checkbox {
    display: flex;
    align-items: center;
  }

  &__control-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $code-editor-toolbar-icon-size + 2px;
    height: $code-editor-toolbar-icon-size + 2px;

    > svg {
      width: $code-editor-toolbar-icon-size;
      height: $code-editor-toolbar-icon-size;
    }
  }
}
