<div class="aui-code-editor"
     [class.aui-code-editor--dark]="monacoProvider.isDarkTheme">
  <div class="aui-code-editor-toolbar">
    <div class="aui-code-editor-toolbar__language"
         *ngIf="options.language">
      {{ codeEditorIntl.getLanguageLabel(options.language) }} ({{ options.readOnly ? codeEditorIntl.readonlyLabel : codeEditorIntl.readwriteLabel }})
    </div>

    <aui-checkbox *ngIf="actionsConfig.diffMode && !options.readOnly"
                  class="aui-code-editor-toolbar__control-button"
                  [class.aui-code-editor-toolbar__control-button--active]="diffMode"
                  [(ngModel)]="diffMode">
      {{ codeEditorIntl.showDiffLabel }}
    </aui-checkbox>

    <div class="aui-code-editor-toolbar__spacer"></div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="!options.readOnly && actionsConfig.import"
         (click)="fileUploadInput.click()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="import"></aui-icon>
      </div>
      {{ codeEditorIntl.importLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="actionsConfig.export && value"
         (click)="onExportClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="export"></aui-icon>
      </div>
      {{ codeEditorIntl.exportLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="!options.readOnly && actionsConfig.recover"
         (click)="onRecoverClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="history_s"></aui-icon>
      </div>
      {{ codeEditorIntl.recoverLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="!options.readOnly && actionsConfig.clear && value"
         (click)="onClearClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="close_circle"></aui-icon>
      </div>
      {{ codeEditorIntl.clearLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="canFormat() && actionsConfig.format && value"
         (click)="onFormatClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <svg height="24"
             viewBox="0 0 24 24"
             width="24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z" />
          <path d="M0 0h24v24H0z"
                fill="none" />
        </svg>
      </div>
      {{ codeEditorIntl.formatLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="actionsConfig.find && value"
         (click)="onFindClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="search_s"></aui-icon>
      </div>
      {{ codeEditorIntl.findLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="actionsConfig.copy && value"
         [auiTooltip]="codeEditorIntl.copiedLabel"
         auiTooltipTrigger="click"
         (click)="onCopyClicked()">
      <div class="aui-code-editor-toolbar__control-button-icon">
        <aui-icon icon="copy"></aui-icon>
      </div>
      {{ codeEditorIntl.copyLabel }}
    </div>

    <div class="aui-code-editor-toolbar__control-button"
         *ngIf="actionsConfig.theme"
         (click)="monacoProvider.toggleTheme()">
      <ng-container *ngIf="!monacoProvider.isDarkTheme">
        <div class="aui-code-editor-toolbar__control-button-icon">
          <aui-icon icon="sun"></aui-icon>
        </div>
        {{ codeEditorIntl.lightThemeLabel }}
      </ng-container>

      <ng-container *ngIf="monacoProvider.isDarkTheme">
        <div class="aui-code-editor-toolbar__control-button-icon">
          <aui-icon icon="moon"></aui-icon>
        </div>
        {{ codeEditorIntl.darkThemeLabel }}
      </ng-container>
    </div>

    <div *ngIf="canFullscreen()"
         class="aui-code-editor-toolbar__control-button"
         (click)="toggleFullscreen()">
      <div class="aui-code-editor-toolbar__control-button-icon">

        <ng-container *ngIf="!fullscreenDialog && !source">
          <aui-icon icon="expand_s"></aui-icon>
        </ng-container>

        <ng-container *ngIf="source">
          <aui-icon icon="compress_s"></aui-icon>
        </ng-container>
      </div>
      {{ !fullscreenDialog && !source ? codeEditorIntl.fullscreenLabel : codeEditorIntl.exitFullscreenLabel }}
    </div>
  </div>

  <!-- If the screen is showing in fullscreen mode, we should hide the parent editor -->
  <ng-container *ngIf="!fullscreenDialog">
    <aui-monaco-diff-editor *ngIf="diffMode"
                            class="aui-code-editor-monaco-editor"
                            (monacoEditorChanged)="onMonacoEditorChanged($event)"
                            [originalValue]="originalValue"
                            [options]="options"
                            [modelUri]="modelUri"
                            [ngModel]="value"
                            (ngModelChange)="onValueChange($event)">
    </aui-monaco-diff-editor>

    <aui-monaco-editor *ngIf="!diffMode"
                       class="aui-code-editor-monaco-editor"
                       (monacoEditorChanged)="onMonacoEditorChanged($event)"
                       [options]="options"
                       [modelUri]="modelUri"
                       [ngModel]="value"
                       (ngModelChange)="onValueChange($event)">
    </aui-monaco-editor>
  </ng-container>
</div>

<input #fileUploadInput
       hidden
       (change)="onImportFileChanged($event)"
       [attr.accept]="getInputFileAccepts()"
       type="file"
       name="files[]" />
