<div class="aui-monaco-editor-container"
     #monacoContainer>
  <div *ngIf="!monacoLoaded"
       class="aui-monaco-editor-spinner">
    <div class="aui-monaco-editor-spinner__double-bounce1"></div>
    <div class="aui-monaco-editor-spinner__double-bounce2"></div>
  </div>

  <div class="aui-monaco-editor-container__monaco-anchor"
       #monacoAnchor></div>
</div>
