<span>value:: {{ switch1 }}, {{ switch2 }}</span><br/>
<aui-switch name="switch" [(ngModel)]="switch1"></aui-switch><br/>
<aui-switch name="switch" [(ngModel)]="switch1" [disabled]="true"></aui-switch><br>
<aui-switch name="switch" [(ngModel)]="switch2" [beforeSwitch]="beforeSwitch" [loading]="loading"></aui-switch><br>
