@import '../theme/_var';
@import '../theme/_mixin';
@import '../select/option-container';

@include option-container(aui-tree-node-container);

.aui-tree-select {
  @include border-box-sizing;
  display: inline-block;
  position: relative;
  width: $select-width;

  &:not(.isDisabled):hover {
    .aui-input {
      border-color: $input-border-color-primary;
    }
  }

  &__clear {
    cursor: pointer;
    color: $input-placeholder-color;

    &:hover {
      color: $input-color;
    }
  }

  &.isClearable .aui-input-group .aui-tree-select__input.aui-input {
    &--medium {
      padding-right: $input-padding-hoz * 2 + $input-medium-font-size * 2 +
        $icon-margin-hoz;
    }
  }
}

aui-tree-select.ng-invalid .aui-input {
  text-decoration: line-through;
}

.aui-form-item.hasError aui-tree-select.ng-invalid .aui-input {
  border-color: $color-error;
}
