@import '../theme/_var';
@import '../theme/_mixin';
@import '~@angular/cdk/_overlay';

@include cdk-overlay();

.aui-dialog-backdrop {
  background-color: $dialog-backdrop-color;
}

.aui-dialog-overlay-pane {
  overflow: auto;
  justify-content: center;
}

.aui-dialog {
  @include border-box-sizing;

  background-color: $dialog-bg-color;
  border-radius: $dialog-border-radius;
  margin: 18vh auto $dialog-bottom-margin;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

  &--small {
    width: $dialog-small-width;
  }

  &--medium {
    width: $dialog-medium-width;
  }

  &--big {
    width: $dialog-big-width;
  }

  &--large {
    width: $dialog-large-width;
  }

  &--fit-content {
    width: fit-content;
  }

  &--fullscreen {
    width: $dialog-fullscreen-width;
    height: $dialog-fullscreen-height;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__header {
    padding: $dialog-header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dialog-header-color;
    font-size: $dialog-header-font-size;

    &-title {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: $dialog-header-line-height;
    }

    &-close {
      margin-left: 16px;
      font-size: 16px;
      color: #999;
      cursor: pointer;
    }
  }

  &__content {
    padding: $dialog-content-padding;
    min-height: $dialog-content-min-height;
  }

  &__footer {
    padding: $dialog-footer-padding;
    display: flex;
    justify-content: flex-end;
  }
}

aui-dialog-header + aui-dialog-content > .aui-dialog__content {
  padding-top: 0;
}

aui-dialog-content + aui-dialog-footer > .aui-dialog__footer {
  padding-top: 0;
}
