@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-dropdown-button {
  @include border-box-sizing;
  display: inline-block;

  &--large #{&} {
    &__trigger .aui-button__content {
      padding: 0 $button-large-padding-hoz/4;
    }
  }

  &--medium #{&} {
    &__trigger .aui-button__content {
      padding: 0 $button-large-padding-hoz/4;
    }
  }

  &--small #{&} {
    &__trigger .aui-button__content {
      padding: 0 $button-large-padding-hoz/4;
    }
  }

  &--mini #{&} {
    &__trigger .aui-button__content {
      padding: 0 $button-large-padding-hoz/4;
    }
  }

  &__content.aui-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &:not([disabled]) {
      &:hover,
      &:active,
      &:focus {
        z-index: 1;
      }
    }
  }

  &__trigger.aui-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &[disabled] {
      z-index: -1;
    }

    &:not([disabled]) {
      &:focus {
        z-index: 1;
      }
    }
  }

  &__content.aui-button + &__trigger.aui-button {
    margin-left: -$button-border-width;
  }
}
