<div [class]="bem.block(size)">
    <button class="aui-dropdown-button__content" [aui-button]="type" [plain]="true" [size]="size" [loading]="loading" [disabled]="disabled"
        (click)="buttonClick.emit($event)">
        <ng-content></ng-content>
    </button>
    <button class="aui-dropdown-button__trigger" [aui-button]="type" [plain]="true" [size]="size" [auiDropdown]="menu" [disabled]="disableTrigger">
        <aui-icon icon="angle_down"></aui-icon>
    </button>
</div>