<div [hidden]="!(hasVisableSuggestion$ | async)" class="aui-suggestion-group">
    <ng-content select="[auiSuggestionGroupTitle]"></ng-content>
    <div class="aui-suggestion-group__content">
        <ng-content></ng-content>
    </div>
</div>