<div>
  inline alert
  <aui-inline-alert [closable]="true">
    <span auiInlineAlertTitle>
      use auiInlineALertTitle directive insert title
    </span>
    <div>
      ng-content
      <a style="color: #24a7e3;text-decoration: underline;" (click)="showToast()">link</a>
    </div>
  </aui-inline-alert>
  <aui-inline-alert [closable]="true">
    <div>
      ng-content will display as content by default
      <a style="color: #24a7e3;text-decoration: underline;" (click)="showToast()">link</a>
    </div>
  </aui-inline-alert>
  <aui-inline-alert title="On closed" content="On closed" type="success" [closable]="true" (close)="onClosed()"></aui-inline-alert>
  <aui-inline-alert [title]="title" [content]="content" type="warning" [closable]="true"></aui-inline-alert>
  <aui-inline-alert [title]="title" [content]="content" type="error"></aui-inline-alert>
</div>