<div [class]="class$ | async" (mouseenter)="hover$.next(true)" (mouseleave)="hover$.next(false)" (click)="click$.next(); $event.stopPropagation()">
    {{ text$ | async }}
    <ng-container *ngIf="template$ | async" [ngTemplateOutlet]="template$ | async" [ngTemplateOutletContext]="context$ | async">
    </ng-container>
</div>
