<aui-nav>
  <aui-nav-item *ngFor="let item of items"
                [expanded]="isPathExpanded(item.path)"
                [active]="isPathActive(item.path)"
                (click)="handleClick(item.path)">
    {{ item.label }}
    <ng-container *ngIf="item.items">
      <ng-container *auiNavItemExt>
        <aui-nav-item *ngFor="let subItem of item.items"
                      [expanded]="isPathExpanded(item.path + '/' + subItem.path)"
                      [active]="isPathActive(item.path + '/' + subItem.path)"
                      (click)="handleClick(item.path + '/' + subItem.path)">
          {{ subItem.label }}
        </aui-nav-item>
      </ng-container>
    </ng-container>
  </aui-nav-item>
</aui-nav>
