<aui-nav>
  <aui-nav-item [expanded]="expandedMap['first']"
                [active]="isPathActive('first')"
                (click)="handleClick('first')">
    <!-- 不放到nav-menu的部分即为title。 -->
    一级导航1

    <!-- menu本身只提供导航项目的展开和关闭。 -->
    <ng-container *auiNavItemExt>
      <aui-nav-item [active]="isPathActive('first/a')"
                    (click)="handleClick('first/a')">
        二级导航a
      </aui-nav-item>
      <aui-nav-item [active]="isPathActive('first/b')"
                    [expanded]="expandedMap['first/b']"
                    (click)="handleClick('first/b')">
        二级导航b折行折行二级导航b折行折行
        <!-- 理论上不会出现三级导航，但在实现上不做限制 -->
        <!-- <ng-container *auiNavItemExt>
          <aui-nav-item [active]="isPathActive('first/b/foo')"
                        (click)="handleClick('first/b/foo')">
            三级导航
          </aui-nav-item>
        </ng-container> -->
      </aui-nav-item>
    </ng-container>
  </aui-nav-item>

  <aui-nav-item [expanded]="expandedMap['second']"
                [active]="isPathActive('second')"
                (click)="handleClick('second')">
                一级导航2
  </aui-nav-item>
</aui-nav>
