@import '../theme/_mixin';
@import '../theme/_var';

.aui-tab-header {
  display: flex;
  align-items: center;
  border-bottom: $tab-border;
  flex-shrink: 0;
  position: relative;
  background-color: $color-white;

  // Size modifiers:
  &--large {
    .aui-tab-label {
      font-size: $tab-label-font-size-large;
      padding: $tab-label-padding-large;
    }
  }

  &--medium {
    .aui-tab-label {
      font-size: $tab-label-font-size-medium;
      padding: $tab-label-padding-medium;
    }
  }

  &--small {
    .aui-tab-label {
      font-size: $tab-label-font-size-small;
      padding: $tab-label-padding-small;
    }
  }

  &--card {
    background-color: $tab-header-type-card-bg-color;
  }

  &__pagination-wrapper {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    position: relative;
    margin: -1px;
  }

  &__pagination-button {
    width: 32px;
    align-self: stretch;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    z-index: $tab-pagination-button-z-index; // higher than labels
    box-shadow: 0 0 4px #ccc;
    opacity: 0.6;
    transition: box-shadow 0.3s, opacity 0.3s, color 0.3s;

    &:hover {
      opacity: 1;
      color: $color-primary;
    }

    &:first-of-type {
      margin-right: 1px;
    }

    &:last-of-type {
      margin-left: 1px;
    }

    &[disabled] {
      cursor: default;
      box-shadow: none;
      opacity: 0.1;
    }
  }

  &__tab-list-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__tab-list {
    flex-grow: 1;
    position: relative;
    transition: $tab-scroll-transition;
  }

  &__labels {
    display: flex;
    &:focus {
      outline: none;
    }
  }

  &__addon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
  }

  &__spacer {
    flex: 1 1 0;
  }
}

.aui-tab-label {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: $color-text-main;
  z-index: $tab-label-z-index;
  opacity: 0.6;
  transition: opacity 0.3s;

  &:focus,
  &.isActive {
    outline: none;

    &:not(.aui-tab-label--disabled) {
      opacity: 1;
    }
  }

  &.aui-tab-label--disabled {
    cursor: default;
    opacity: 0.2;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: $tab-label-content-max-width;
  }

  &__close {
    margin-left: 8px;
    font-size: calc(#{$tab-header-close-icon-size} / 2);
    width: $tab-header-close-icon-size;
    height: $tab-header-close-icon-size;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $tab-header-close-icon-color;

    &:hover {
      color: $tab-header-close-icon-color-hover;
      background-color: $tab-header-close-icon-color;
    }
  }

  &.cdk-focused:not(.cdk-mouse-focused) {
    box-shadow: $tab-label-focus-box-shadow;
  }
}

aui-tab-header-active-indicator {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: $tab-scroll-transition;
}

.aui-tab-header-active-indicator {
  position: relative;
  flex: 1;
  height: 100%;
  z-index: $tab-active-indicator-z-index;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background: $tab-header-indicator-color;
    height: 2px;
  }

  &--line {
    &::after {
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }

  &--card {
    border: $tab-border;
    border-top: none;
    border-bottom: none;
    background: $color-white;
    &::after {
      width: calc(100% + 2px);
      top: 0;
      left: -1px;
    }
  }
}
