<div [ngClass]="bem.block()">
  <aui-tab-header [selectedIndex]="selectedIndex"
                  [type]="type"
                  [size]="size"
                  (indexFocused)="_focusChanged($event)"
                  (selectFocusedIndex)="selectedIndex = $event">
    <div role="tab"
         *ngFor="let tab of _tabs; let i = index"
         auiTabLabelWrapper
         cdkMonitorElementFocus
         [attr.tabIndex]="_getTabIndex(tab, i)"
         [class.isActive]="selectedIndex == i"
         [class.closeable]="tab.closeable && !tab.disabled"
         [disabled]="tab.disabled"
         (click)="_handleClick(tab, i)"
         [attr.aria-posinset]="i + 1"
         [attr.aria-setsize]="_tabs.length"
         [attr.aria-label]="tab.textLabel || null">
      <div class="aui-tab-label__content">
        <!-- If there is a label template, use it. -->
        <ng-template [ngIf]="tab.templateLabel">
          <ng-template [cdkPortalOutlet]="tab.templateLabel"></ng-template>
        </ng-template>
        <!-- If there is not a label template, fall back to the text label. -->
        <ng-template [ngIf]="!tab.templateLabel">{{ tab.textLabel }}</ng-template>
      </div>

      <aui-icon *ngIf="tab.closeable && !tab.disabled"
                class="aui-tab-label__close"
                icon="close"
                (click)="tab.close.emit();$event.stopPropagation()">
      </aui-icon>
    </div>

    <ng-container *ngIf="_headerAddon">
      <ng-container *auiTabHeaderAddon>
        <ng-template [cdkPortalOutlet]="_headerAddon"></ng-template>
      </ng-container>
    </ng-container>
  </aui-tab-header>

  <div [ngClass]="bem.element('body-wrapper')">
    <aui-tab-body role="tabpanel"
                  *ngIf="activeTab"
                  [content]="activeTab.content">
    </aui-tab-body>
  </div>
</div>
