<span>message：</span>
<button aui-button (click)="toast.messageSuccess({content:123123})">
  success
</button>
<button aui-button (click)="toast.messageError({content:12312312})">
  error
</button>
<button aui-button (click)="toast.messageInfo({content:12312312})">
  info
</button>
<button aui-button (click)="toast.messageWarning({content:123123213})">
  warning
</button>
<br/>

<span>alert：</span>
<button aui-button (click)="toast.alertSuccess({title:'success titel!',content:'success content'})">
  success
</button>
<button aui-button (click)="toast.alertError({title:'success titel!',content:'success content',closeable:false})">
  error
</button>
<button aui-button (click)="toast.alertError('error content error content error content error content error content')">
  error content
</button>
<button aui-button (click)="toast.alertSuccess({title:'success titel!',contentRef:template,duration:0})">
  success template
</button>

<ng-template #template>
  <button>inline template btn</button>
</ng-template>
