@import '../theme/_var';
@import '../theme/_mixin';

.aui-breadcrumb {
  @include border-box-sizing;
  display: flex;
  align-content: center;
  font-size: $font-size-regular;
  color: $color-text-secondary;

  &__separator {
    margin: 0 4px;
  }

  aui-breadcrumb-item:last-child #{&}__separator {
    display: none;
  }
}
