<div class="aui-card">
    <ng-content select="[auiCardHeader]"></ng-content>
    <div class="aui-card__content">
        <ng-content></ng-content>
    </div>
    <ng-content select="[auiCardFooter]"></ng-content>
</div>