@import '../theme/_var';
@import '../theme/_mixin';

$default-border: $card-border-width $card-border-style $card-border-color;

$b: aui-card;

.#{$b} {
  @include border-box-sizing();

  padding: 4px 20px;
  border: $default-border;
  border-radius: $card-border-radius;
  background-color: $color-white;

  &__content {
    padding: 16px 0;
  }

  &__header {
    padding: 16px 0 12px;
    border-bottom: $default-border;
    font-size: 18px;
    line-height: 24px;
  }

  &__footer {
    padding: 20px 0 16px;
    border-top: $default-border;
  }
}

#{$b} + #{$b} > .#{$b} {
  margin-top: 16px;
}
