@import '../theme/_var';
@import '../theme/_mixin';

$b: aui-section;

.#{$b} {
  @include border-box-sizing();

  padding: 12px 0;

  &__title {
    padding-bottom: 16px;
  }
}

#{$b}:first-child > .#{$b} {
  padding-top: 0;
}

#{$b}:last-child > .#{$b} {
  padding-bottom: 0;
}

#{$b} + #{$b} > .#{$b} {
  border-top: $section-border-width $section-border-style $section-border-color;
}
