<div>大小默认是 font-size, 颜色默认是 currentColor。
    <a href="http://confluence.alaudatech.com/pages/viewpage.action?pageId=24221238" target="_blank">图标定义</a>
</div>
<aui-icon [icon]="icon" [size]="size" [color]="color">
</aui-icon>