@import '../theme/_var';
@import '../theme/_mixin';
$status-color-map: (
  success: $color-success,
  info: $color-info,
  error: $color-error,
  warning: $color-warning,
  explanation: $color-explanation,
);
.aui-message-overlay-panel {
  z-index: $message-z-index;
}

.aui-notification {
  margin: $notification-margin;
  display: flex;
  position: relative;
  border-radius: $message-border-radius;
  padding: $notification-padding;
  align-items: flex-start;
  background-color: $color-white;
  border-top-left-radius: $message-border-side-radius;
  border-bottom-left-radius: $message-border-side-radius;
  @include model-shadow;
  cursor: pointer;

  @each $status, $color in $status-color-map {
    &.#{$status} {
      border-left: $notification-border-left-width solid $color;
      .aui-notification__icon {
        font-size: $font-size-large;
        width: $font-size-large;
        color: $color;
        &-title {
          line-height: $line-height-larger;
        }
        &-content {
          line-height: $line-height-regular;
        }
      }
    }
  }

  &__body {
    margin: $notification-body-margin;
    width: $notification-body-width;
  }
  &__title {
    margin-bottom: $notification-title-margin-bottom;
    font-size: $font-size-larger;
    text-align: left;
    color: $notification-title-color;
    line-height: $line-height-larger;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__content {
    font-size: $font-size-regular;
    line-height: $line-height-regular;
    text-align: left;
    color: #4d4d4d;
    max-height: $notification-content-max-height;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-right: $notification-content-padding-right;
    &::-webkit-scrollbar {
      width: $notification-content-scroll-bar-width;
      height: $notification-content-scroll-bar-height;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &__close {
    font-size: $font-size-small;
    right: $notification-close-right;
    width: $notification-close-width;
    line-height: $line-height-larger;
    color: $color-text-help;
    cursor: pointer;
    &:hover {
      color: $notification-close-hover-color;
    }
  }
  &__svg {
    position: absolute;
    color: $toast-close-color;
  }
}
