@import '_var';

// 使用 box-shadow 模拟带圆角的 outline
@mixin outline-shadow($color: $outline-color-primary) {
  box-shadow: 0 0 0 $outline-width $color;
}

@mixin border-box-sizing() {
  &,
  & * {
    box-sizing: border-box;
  }
}

@mixin popper-shadow() {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

@mixin model-shadow() {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}

@mixin transition($target: all) {
  transition: $target $animation-duration $animation-interpolation;
}
