// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #009ce3;
$color-success: #1bb393;
$color-warning: #f8ac58;
$color-danger: #eb6262;
$color-error: #eb6262;
$color-info: #ccc;
$color-explanation: #c1c4c6;

$status-color-map: (
  success: $color-success,
  info: $color-info,
  error: $color-error,
  warning: $color-warning,
);

$color-primary-light: mix($color-white, $color-primary, 60%);
$color-success-light: mix($color-white, $color-success, 60%);
$color-warning-light: mix($color-white, $color-warning, 60%);
$color-error-light: mix($color-white, $color-error, 60%);
$color-info-light: mix($color-white, $color-info, 60%);

$color-primary-lighter: mix($color-white, $color-primary, 70%);
$color-success-lighter: mix($color-white, $color-success, 70%);
$color-warning-lighter: mix($color-white, $color-warning, 70%);
$color-error-lighter: mix($color-white, $color-error, 70%);
$color-info-lighter: mix($color-white, $color-info, 70%);

$color-primary-extra-light: mix($color-white, $color-primary, 90%);
$color-success-extra-light: mix($color-white, $color-success, 90%);
$color-warning-extra-light: mix($color-white, $color-warning, 90%);
$color-error-extra-light: mix($color-white, $color-error, 90%);
$color-info-extra-light: mix($color-white, $color-info, 90%);

$color-primary-ultra-light: mix($color-white, $color-primary, 95%);
$color-success-ultra-light: mix($color-white, $color-success, 95%);
$color-warning-ultra-light: mix($color-white, $color-warning, 95%);
$color-error-ultra-light: mix($color-white, $color-error, 95%);
$color-info-ultra-light: mix($color-white, $color-info, 95%);

$color-primary-dark: mix($color-black, $color-primary, 10%);
$color-success-dark: mix($color-black, $color-success, 10%);
$color-warning-dark: mix($color-black, $color-warning, 10%);
$color-error-dark: mix($color-black, $color-error, 10%);
$color-info-dark: mix($color-black, $color-info, 10%);

$color-primary-darker: mix($color-black, $color-primary, 20%);
$color-success-darker: mix($color-black, $color-success, 20%);
$color-warning-darker: mix($color-black, $color-warning, 20%);
$color-error-darker: mix($color-black, $color-error, 20%);
$color-info-darker: mix($color-black, $color-info, 20%);

$color-text-main: #333;
$color-text-secondary: #666;
$color-text-help: #999;
$color-text-placeholder: #ccc;

$color-disabled-bg: #f2f2f2;

// Font
$font-size-extra-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

$font-weight-bold: 500;
$font-weight-normal: 400;

$line-height-extra-large: 28px;
$line-height-larger: 24px;
$line-height-large: 22px;
$line-height-regular: 20px;
$line-height-small: 16px;

// Height
$height-large: 40px;
$height-medium: 32px;
$height-small: 28px;
$height-mini: 24px;

// Border
$border-radius: 2px;
$border-width: 1px;
$border-style: solid;
$border-style-dashed: dashed;

// Outline
$outline-width: 3px;
$outline-color-primary: mix($color-white, $color-primary, 60%);
$outline-color-success: mix($color-white, $color-success, 60%);
$outline-color-warning: mix($color-white, $color-warning, 60%);
$outline-color-error: mix($color-white, $color-error, 60%);
$outline-color-info: mix($color-white, $color-info, 60%);

// Layout
$layout-background-main: #f4f4f4;
$layout-header-height: 48px;
$layout-page-header-height: 44px;
$layout-nav-drawer-header-background: #0389c7;
$layout-nav-drawer-width: 200px;
$layout-nav-toolbar-background-color: #009ce3;
$layout-container-padding: 20px;

// Animation
$animation-duration: 0.3s;
$animation-interpolation: ease;

// Button
$button-border-style: $border-style;
$button-border-radius: $border-radius;
$button-border-width: $border-width;

$button-large-height: $height-large;
$button-large-font-size: $font-size-large;
$button-large-padding-hoz: 20px - $button-border-width;

$button-medium-height: $height-medium;
$button-medium-font-size: $font-size-regular;
$button-medium-padding-hoz: 16px - $button-border-width;

$button-small-height: $height-small;
$button-small-font-size: $font-size-regular;
$button-small-padding-hoz: 12px - $button-border-width;

$button-mini-height: $height-mini;
$button-mini-font-size: $font-size-small;
$button-mini-padding-hoz: 8px - $button-border-width;

$button-default-content: $color-text-main;
$button-default-content-hover: $color-primary;
$button-default-content-active: $color-primary;
$button-default-content-focus: $color-text-main;
$button-default-content-disabled: $color-info;
$button-default-bg: $color-white;
$button-default-bg-hover: $color-primary-ultra-light;
$button-default-bg-active: $color-primary-extra-light;
$button-default-bg-focus: $color-white;
$button-default-bg-disabled: $color-disabled-bg;
$button-default-border: $color-info;
$button-default-border-hover: $color-primary;
$button-default-border-active: $color-primary;
$button-default-border-focus: $color-primary;
$button-default-border-disabled: $color-info;

$button-primary-content: $color-white;
$button-primary-content-hover: $color-white;
$button-primary-content-active: $color-white;
$button-primary-content-focus: $color-white;
$button-primary-content-disabled: $color-white;
$button-primary-bg: $color-primary;
$button-primary-bg-hover: $color-primary-dark;
$button-primary-bg-active: $color-primary-darker;
$button-primary-bg-focus: $color-primary;
$button-primary-bg-disabled: $color-primary-lighter;
$button-primary-border: $color-primary;
$button-primary-border-hover: $color-primary-dark;
$button-primary-border-active: $color-primary-darker;
$button-primary-border-focus: $color-primary;
$button-primary-border-disabled: $color-primary-lighter;

$button-success-content: $color-white;
$button-success-content-hover: $color-white;
$button-success-content-active: $color-white;
$button-success-content-focus: $color-white;
$button-success-content-disabled: $color-white;
$button-success-bg: $color-success;
$button-success-bg-hover: $color-success-dark;
$button-success-bg-active: $color-success-darker;
$button-success-bg-focus: $color-success;
$button-success-bg-disabled: $color-success-lighter;
$button-success-border: $color-success;
$button-success-border-hover: $color-success-dark;
$button-success-border-active: $color-success-darker;
$button-success-border-focus: $color-success;
$button-success-border-disabled: $color-success-lighter;

$button-warning-content: $color-white;
$button-warning-content-hover: $color-white;
$button-warning-content-active: $color-white;
$button-warning-content-focus: $color-white;
$button-warning-content-disabled: $color-white;
$button-warning-bg: $color-warning;
$button-warning-bg-hover: $color-warning-dark;
$button-warning-bg-active: $color-warning-darker;
$button-warning-bg-focus: $color-warning;
$button-warning-bg-disabled: $color-warning-lighter;
$button-warning-border: $color-warning;
$button-warning-border-hover: $color-warning-dark;
$button-warning-border-active: $color-warning-darker;
$button-warning-border-focus: $color-warning;
$button-warning-border-disabled: $color-warning-lighter;

$button-danger-content: $color-white;
$button-danger-content-hover: $color-white;
$button-danger-content-active: $color-white;
$button-danger-content-focus: $color-white;
$button-danger-content-disabled: $color-white;
$button-danger-bg: $color-error;
$button-danger-bg-hover: $color-error-dark;
$button-danger-bg-active: $color-error-darker;
$button-danger-bg-focus: $color-error;
$button-danger-bg-disabled: $color-error-lighter;
$button-danger-border: $color-error;
$button-danger-border-hover: $color-error-dark;
$button-danger-border-active: $color-error-darker;
$button-danger-border-focus: $color-error;
$button-danger-border-disabled: $color-error-lighter;

$button-info-content: $color-white;
$button-info-content-hover: $color-white;
$button-info-content-active: $color-white;
$button-info-content-focus: $color-white;
$button-info-content-disabled: $color-white;
$button-info-bg: $color-info;
$button-info-bg-hover: $color-info-dark;
$button-info-bg-active: $color-info-darker;
$button-info-bg-focus: $color-info;
$button-info-bg-disabled: $color-info-lighter;
$button-info-border: $color-info;
$button-info-border-hover: $color-info-dark;
$button-info-border-active: $color-info-darker;
$button-info-border-focus: $color-info;
$button-info-border-disabled: $color-info-lighter;

$text-button-padding-hoz: 4px - $button-border-width;
$text-button-large-height: 24px;
$text-button-large-font-size: 18px;
$text-button-medium-height: 22px;
$text-button-medium-font-size: 16px;
$text-button-small-height: 20px;
$text-button-small-font-size: 14px;
$text-button-mini-height: 16px;
$text-button-mini-font-size: 12px;

// Table
$table-border-width: 1px;
$table-header-row-height: 42px;
$table-row-horizontal-padding: 8px;
$table-row-vertical-padding: 12px;

$table-header-row-bg: #fafafa;
$table-header-row-border-color: #eee;
$table-header-row-color: #333;
$table-row-border-color: #eee;
$table-row-bg: #fff;
$table-row-color: #333;
$table-font-size-base: 14px;

// Sort
$sort-indicator-color: #ccc;
$sort-indicator-color-active: #2c2f36;
$sort-indicator-size: 4px;
$sort-indicator-margin: 4px;

// Nav
$nav-background-color-main: #1b1e24;
$nav-background-color-secondary: #2c2f36;
$nav-text-color: $color-white;
$nav-text-height: 14px;
$nav-text-line-height: 20px;
$nav-text-inactive-opacity: 0.6;
$nav-item-label-padding: 10px 14px;
$nav-item-label-nested-padding: 6px 14px;
$nav-item-ext-padding: 4px 0;
$nav-item-ext-toggle-icon-size: 16px;

// 导航高亮指示标记
$nav-active-indicator-color: #009ce3;
$nav-active-indicator-width: 4px;
$button-info-border-light: $color-info;
$button-info-border-dark: $color-info;

// Code editor
$code-editor-min-height: 400px;
$code-editor-border: $border-width $border-style #dddddd;
$code-editor-toolbar-padding: 0 20px;
$code-editor-toolbar-height: 40px;
$code-editor-toolbar-icon-size: 16px;
$code-editor-toolbar-font-size: 14px;
$code-editor-toolbar-control-margin: 4px;
$code-editor-toolbar-background: #f7f7f7;
$code-editor-toolbar-background-dark: #333333;
$code-editor-toolbar-color-dark: #fff;
$code-editor-toolbar-inactive-opacity: 0.6;

// Tooltip
$tooltip-border-width: $border-width;
$tooltip-border-radius: $border-radius;
$tooltip-font-size: $font-size-small;
$tooltip-padding-hoz: 16px - $tooltip-border-width;
$tooltip-padding-ver: 8px - $tooltip-border-width;
$tooltip-offset: 4px;

$tooltip-default-border: $color-black;
$tooltip-default-bg: $color-black;
$tooltip-default-text: $color-white;

$tooltip-primary-border: $color-primary;
$tooltip-primary-bg: $color-white;
$tooltip-primary-text: $color-primary;

$tooltip-success-border: $color-success;
$tooltip-success-bg: $color-white;
$tooltip-success-text: $color-success;

$tooltip-warning-border: $color-warning;
$tooltip-warning-bg: $color-white;
$tooltip-warning-text: $color-warning;

$tooltip-error-border: $color-error;
$tooltip-error-bg: $color-white;
$tooltip-error-text: $color-error;

$tooltip-info-border: $color-white;
$tooltip-info-bg: $color-white;
$tooltip-info-text: $color-text-help;

// Dialog
$dialog-backdrop-color: rgba(0, 0, 0, 0.3);
$dialog-bg-color: $color-white;
$dialog-border-radius: $border-radius;

$dialog-small-width: 420px;
$dialog-medium-width: 600px;
$dialog-big-width: 800px;
$dialog-large-width: 960px;
$dialog-fullscreen-width: 90vw;
$dialog-fullscreen-height: 90vh;

$dialog-header-font-size: $font-size-extra-large;
$dialog-header-line-height: $line-height-extra-large;
$dialog-header-color: $color-text-main;

$dialog-content-min-height: 96px;

$dialog-header-padding: 24px;
$dialog-content-padding: 24px;
$dialog-footer-padding: 24px;
$dialog-bottom-margin: 50px;

// Radio
$radio-margin: 24px;
$radio-font-size: $font-size-regular;
$radio-label-margin: 8px;
$radio-color: $color-text-main;
$radio-line-height: $line-height-regular;
$radio-pointer-outer-radius: 8px;
$radio-pointer-inner-radius: 3px;

$radio-border-color: $color-text-placeholder;
$radio-border-color-primary: $color-primary;
$radio-border-style: $border-style;
$radio-border-width: $border-width;
$radio-bg-color-disabled: $color-disabled-bg;
$radio-outline-color: $outline-color-primary;

$radio-button-border-radius: $button-border-radius;
$radio-button-medium-pointer-size: $font-size-large;
$radio-button-medium-height: $button-medium-height;
$radio-button-medium-padding-hoz: $button-medium-padding-hoz;
$radio-button-small-pointer-size: $font-size-regular;
$radio-button-small-height: $button-small-height;
$radio-button-small-padding-hoz: $button-small-padding-hoz;
$radio-button-mini-height: $button-mini-height;
$radio-button-small-padding-hoz: $button-mini-padding-hoz;

// Checkbox
$checkbox-margin: 24px;
$checkbox-font-size: $font-size-regular;
$checkbox-label-margin: 8px;
$checkbox-color: $color-text-main;
$checkbox-line-height: $line-height-regular;
$checkbox-pointer-radius: $border-radius;
$checkbox-pointer-width: 16px;

$checkbox-border-color: $color-text-placeholder;
$checkbox-border-color-primary: $color-primary;
$checkbox-border-style: $border-style;
$checkbox-border-width: $border-width;
$checkbox-bg-color: $color-white;
$checkbox-bg-color-disabled: $color-disabled-bg;
$checkbox-outline-color: $outline-color-primary;

// Switch
$switch-duration: 0.3s;
$switch-background-color: #ccc;
$switch-border-color: #ccc;
$switch-checked-color: #009ce3;
$switch-box-shadow-color: rgba(0, 0, 0, 0.4);
$switch-disabled-bg-color: #f2f2f2;
$switch-checked-disabled-bg-color: #b3e1f6;
$switch-bar-width: 30px;
$switch-bar-height: 16px;
$switch-bar-focus-shadow: #b3d4ff;

$default-border-color: #ccc;
$disabled-border-color: #ccc;
$hover-border-color: $color-primary;
$focus-border-color: #b3d4ff;

$checked-bg-color: $color-primary;
$disabled-bg-color: #f2f2f2;
$checked-inner-bg-color: #fff;

$radio-medium-label-padding: 6px 16px;
$radio-small-label-padding: 4px 12px;

// Toast
$toast-z-index: 1001;
$toast-close-color: #e2e2e2;
$alerts-wrapper-top: 20px;
$alerts-wrapper-right: 0;

$messages-wrapper-left: 50%;
$messages-wrapper-top: 36px;

// Input
$input-border-radius: $border-radius;
$input-border-width: $border-width;
$input-border-style: $border-style;
$input-border-color: $color-info;
$input-border-color-primary: $color-primary;
$input-border-color-error: $color-error;
$input-color: $color-text-main;
$input-placeholder-color: $color-text-placeholder;
$input-bg-color: $color-white;
$input-bg-color-disabled: $color-disabled-bg;
$input-padding-hoz: 8px - $input-border-width;

$input-large-height: $height-large;
$input-large-font-size: $font-size-large;
$input-medium-height: $height-medium;
$input-medium-font-size: $font-size-regular;
$input-small-height: $height-small;
$input-small-font-size: $font-size-regular;
$input-mini-height: $height-mini;
$input-mini-font-size: $font-size-small;

// Select
$select-width: 100%;
$select-options-padding: $input-padding-hoz;
$select-options-max-height: $input-medium-height * 8;
$select-close-icon-color: #999;

// Tag
$tag-border-width: $border-width;
$tag-border-radius: $border-radius;
$tag-border-style: $border-style;
$tag-max-width: 300px;
$tag-close-margin: 4px;

$tag-primary-color: $color-primary;
$tag-primary-bg-color: $color-primary-extra-light;
$tag-success-color: $color-success;
$tag-success-bg-color: $color-success-extra-light;
$tag-warning-color: $color-warning;
$tag-warning-bg-color: $color-warning-extra-light;
$tag-error-color: $color-error;
$tag-error-bg-color: $color-error-extra-light;
$tag-info-color: $color-text-secondary;
$tag-info-border-color: $color-info;
$tag-info-bg-color: $color-info-extra-light;

$tag-large-height: $height-medium;
$tag-large-font-size: $font-size-regular;
$tag-large-padding: 16px - $tag-border-width;
$tag-medium-height: $height-small;
$tag-medium-font-size: $font-size-regular;
$tag-medium-padding: 12px - $tag-border-width;
$tag-small-height: $height-mini;
$tag-small-font-size: $font-size-small;
$tag-margin: 8px;
$tag-mini-height: 20px;
$tag-mini-margin: 6px;
$tag-mini-padding: 8px - $tag-border-width;
$tag-mini-font-size: $font-size-small;

// Form
$form-item-margin-vertical: 16px;

// Paginator
$paginator-page-size-select-width: 64px;
$paginator-outer-block-margin: 12px;
$paginator-inner-block-margin: 4px;

// Menu
$menu-max-width: 280px;
$menu-min-width: 120px;
$menu-padding: 8px;

$menu-group-title-padding: 4px;
$menu-group-divide-style: $border-style;
$menu-group-divide-width: $border-width;
$menu-group-divide-color: #ededed;

$menu-item-padding: 0 12px;
$menu-item-radius: $border-radius;
$menu-item-large-height: $height-large;
$menu-item-large-font-size: $font-size-large;
$menu-item-medium-height: $height-medium;
$menu-item-medium-font-size: $font-size-regular;
$menu-item-small-height: $height-small;
$menu-item-small-font-size: $font-size-regular;
$menu-item-mini-height: $height-mini;
$menu-item-mini-font-size: $font-size-small;

$menu-item-primary-color: $color-primary;
$menu-item-primary-bg: $color-primary-extra-light;
$menu-item-success-color: $color-success;
$menu-item-success-bg: $color-success-extra-light;
$menu-item-warning-color: $color-warning;
$menu-item-warning-bg: $color-warning-extra-light;
$menu-item-danger-color: $color-error;
$menu-item-danger-bg: $color-error-extra-light;

// Inline alert
$inline-alert-vertical-margin: 8px;
$inline-alert-border-radius: $border-radius;
$inline-alert-border-style: $border-style;
$inline-alert-border-width: $border-width;
$inline-alert-color: $color-text-secondary;
$inline-alert-close-color: $color-text-help;
$inline-alert-close-color-hover: $color-text-secondary;
$inline-alert-padding: (12px - $inline-alert-border-width)
  (16px - $inline-alert-border-width);

$inline-alert-title-font-size: $font-size-larger;
$inline-alert-title-line-height: $line-height-larger;
$inline-alert-content-font-size: $font-size-regular;
$inline-alert-content-line-height: $line-height-regular;

$inline-alert-primary-color: $color-primary;
$inline-alert-success-color: $color-success;
$inline-alert-warning-color: $color-warning;
$inline-alert-error-color: $color-error;

// Card
$card-border-color: #ededed;
$card-border-style: $border-style;
$card-border-width: $border-width;
$card-border-radius: $border-radius;

// Section
$section-border-color: $card-border-color;
$section-border-style: $border-style-dashed;
$section-border-width: $border-width;

// Message
$message-padding: 8px 16px;
$message-border-radius: 3px;
$message-default-bg: $color-white;
$message-border-side-radius: 4px;
$message-margin-bottom: 20px;
$message-content-margin-left: 8px;
$message-z-index: 1001;

// Notification
$notification-margin: 0 20px 10px 0;
$notification-padding: 16px 20px;
$notification-border-left-width: 5px;
$notification-content-max-height: 110px;
$notification-content-padding-right: 4px;
$notification-content-scroll-bar-width: 4px;
$notification-content-scroll-bar-height: 4px;

$notification-title-color: #4d4d4d;
$notification-title-margin-bottom: 4px;
$notification-body-width: 252px;
$notification-body-margin: 0 13px 0 8px;
$notification-close-right: 10px;
$notification-close-width: 12px;
$notification-close-hover-color: #37acf0;

// Icon
$icon-margin-hoz: 4px;

// Tabs
$tab-label-content-max-width: 150px;
$tab-label-padding-large: 16px 20px;
$tab-label-padding-medium: 12px 20px;
$tab-label-padding-small: 8px 16px;
$tab-label-font-size-large: $font-size-larger;
$tab-label-font-size-medium: $font-size-large;
$tab-label-font-size-small: $font-size-regular;
$tab-border: $border-width $border-style $default-border-color;
$tab-header-type-card-bg-color: #fafafa;
$tab-header-indicator-color: $color-primary;
$tab-scroll-transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
$tab-pagination-button-z-index: 3;
$tab-label-z-index: 2;
$tab-active-indicator-z-index: 1;
$tab-label-focus-box-shadow: inset 0px 0px 0px 3px unquote('#009ce31e');
$tab-header-close-icon-size: 16px;
$tab-header-close-icon-color: #999;
$tab-header-close-icon-color-hover: $color-white;

// Status bar
$status-bar-border-radius: $border-radius;
$status-bar-medium-height: 16px;
$status-bar-small-height: 8px;
$status-bar-pending-color: #ccecfb;
$status-bar-pending-color-light: #e0f5ff;
$status-bar-pending-gradient-width: 4px;
