@import '../theme/_var';

.aui-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;

  &--left {
    margin-left: $icon-margin-hoz;
  }

  &--right {
    margin-right: $icon-margin-hoz;
  }
}

.aui-icon-spinner {
  animation: rotating 1.2s linear infinite;
}

aui-icon + aui-icon > .aui-icon {
  margin-left: $icon-margin-hoz;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
