@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-form-item {
  @include border-box-sizing;

  display: flex;
  margin-bottom: $form-item-margin-vertical;
  color: $color-text-main;
  font-size: $font-size-regular;

  &--top {
    flex-direction: column;
  }

  &__label-wrapper {
    line-height: $input-medium-height;
    flex-shrink: 0;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::after {
      content: ':';
      margin-left: 2px;
    }

    &--required::before {
      content: '*';
      color: $color-error;
      margin-right: 2px;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__container {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    min-height: $input-medium-height;

    aui-select,
    aui-multi-select {
      &.aui-form-item__control {
        width: 100%;
      }
    }
  }

  &__hint-wrapper,
  &__error-wrapper {
    font-size: $font-size-small;
  }

  &__hint-wrapper {
    color: $color-text-help;
  }

  &__error-wrapper {
    color: $color-error;
  }

  &__addon-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: $input-medium-height;
    width: $input-medium-height;
    padding-left: 8px;
    color: $color-text-help;
    font-size: $font-size-regular;
  }
}

.aui-form--inline {
  display: flex;

  .aui-form-item {
    margin-bottom: 0;
    margin-right: 8px;

    &__control-wrapper {
      width: $select-width;
    }
  }
}
