@import '../theme/_var';

$block: aui-sort-header;

.#{$block} {
  display: flex;

  &__button {
    border: none;
    background: 0 0;
    display: flex;
    align-items: center;
    padding: 0;
    outline: 0;
    font: inherit;
    cursor: inherit;
    color: currentColor;
  }

  &__indicator {
    margin-left: $sort-indicator-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: $sort-indicator-size solid transparent;
      border-right: $sort-indicator-size solid transparent;
    }
    &::before {
      border-bottom: $sort-indicator-size solid $sort-indicator-color;
      margin-bottom: $sort-indicator-size;
    }
    &::after {
      border-top: $sort-indicator-size solid $sort-indicator-color;
    }
  }

  &--active {
    .#{$block}__indicator {
      &--asc {
        &::before {
          border-bottom-color: $sort-indicator-color-active;
        }
      }
      &--desc {
        &::after {
          border-top-color: $sort-indicator-color-active;
        }
      }
    }
  }
}
