<aui-tree-select [(ngModel)]="value" [nodesData]="treeNodes" [disabled]="disabled" [loading]="loading" [clearable]="clearable"
    [filterable]="filterable" [placeholder]="placeholder">
    <aui-tree-node-placeholder>None</aui-tree-node-placeholder>
</aui-tree-select>
{{ value | json }}