@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-menu-group {
  &__title {
    font-size: $font-size-small;
    line-height: $line-height-small;
    padding: $menu-group-title-padding 0;
    color: $color-text-help;
  }
}

aui-menu-group:not(:first-child) .aui-menu-group {
  margin-top: $menu-padding;
  padding-top: $menu-padding;
  border-top: $menu-group-divide-width $menu-group-divide-style
    $menu-group-divide-color;
}
