@import '../theme/_var';
@import '../theme/_mixin';
$status-color-map: (
  primary: $inline-alert-primary-color,
  success: $inline-alert-success-color,
  error: $inline-alert-error-color,
  warning: $inline-alert-warning-color,
);

.aui-inline-alert {
  @include border-box-sizing;
  display: flex;
  padding: $inline-alert-padding;
  margin-bottom: $inline-alert-vertical-margin;
  border-radius: $inline-alert-border-radius;
  border: $inline-alert-border-width $inline-alert-border-style
    $inline-alert-primary-color;
  color: $inline-alert-color;
  background-color: $color-white;

  @each $status, $color in $status-color-map {
    &--#{$status} {
      border-color: $color;
    }

    &--#{$status} &__icon {
      color: $color;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: $inline-alert-title-line-height;
    font-size: $font-size-large;
  }
  &__close {
    display: flex;
    align-items: center;
    height: $inline-alert-title-line-height;
    font-size: $font-size-small;
    color: $inline-alert-close-color;
    cursor: pointer;
    &:hover {
      color: $inline-alert-close-color-hover;
    }
  }

  &__body {
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    padding: 0 8px;
  }
  &__title {
    margin-bottom: 4px;
    font-size: $inline-alert-title-font-size;
    line-height: $inline-alert-title-line-height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__content {
    margin-top: 2px;
    font-size: $inline-alert-content-font-size;
    line-height: $inline-alert-content-line-height;
  }
}
