@import '../theme/_var';

.aui-table {
  font-size: $table-font-size-base;

  &__row,
  &__header-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  &__row {
    padding: $table-row-vertical-padding $table-row-horizontal-padding;
    border-top-width: 0;
    border-bottom-width: $table-border-width;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-color: $table-row-border-color;
    background: $table-row-bg;
  }
  &__header-row {
    height: $table-header-row-height;
    padding: 0 $table-row-horizontal-padding;
    background-color: $table-header-row-bg;
    border-color: $table-header-row-border-color;
    border-style: solid;
    border-top-width: $table-border-width;
    border-bottom-width: $table-border-width;
    border-left-width: 0;
    border-right-width: 0;
  }
  &__cell,
  &__header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  &__header-cell {
    color: $table-header-row-color;
    font-weight: 500;
    height: $table-header-row-height;
    line-height: $table-header-row-height;
  }
}
