<aui-tab-group [size]="size"
               [type]="type">
  <aui-tab *ngFor="let tab of tabs; let index = index"
           (close)="close(index)"
           [closeable]="tab.closeable"
           [disabled]="tab.disabled">
    <form auiForm>
      <aui-form-item>
        <label auiFormItemLabel>标签</label>
        <input aui-input
               name="label"
               [(ngModel)]="tab.label">
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>禁用</label>
        <aui-switch name="disabled"
                    [(ngModel)]="tab.disabled">
        </aui-switch>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>可关闭</label>
        <aui-switch name="closeable"
                    [(ngModel)]="tab.closeable">
        </aui-switch>
      </aui-form-item>
    </form>

    <ng-container *auiTabLabel>
      {{ tab.label }}
    </ng-container>
  </aui-tab>

  <ng-container *ngIf="hasAddon">
    <ng-container *auiTabHeaderAddon>
      <button aui-button="primary"
              (click)="add()"
              [size]="size">
        Add
      </button>
    </ng-container>
  </ng-container>
</aui-tab-group>
