<ul class="palette">
    <li class="palette__line">
        <div class="palette__card palette__card--primary-ultra-light">ultra light</div>
        <div class="palette__card palette__card--primary-extra-light">extra light</div>
        <div class="palette__card palette__card--primary-lighter">lighter</div>
        <div class="palette__card palette__card--primary-light">light</div>
        <div class="palette__card palette__card--primary">Primary</div>
        <div class="palette__card palette__card--primary-dark">dark</div>
        <div class="palette__card palette__card--primary-darker">darker</div>
    </li>
    <li class="palette__line">
        <div class="palette__card palette__card--success-ultra-light">ultra light</div>
        <div class="palette__card palette__card--success-extra-light">extra light</div>
        <div class="palette__card palette__card--success-lighter">lighter</div>
        <div class="palette__card palette__card--success-light">light</div>
        <div class="palette__card palette__card--success">Success</div>
        <div class="palette__card palette__card--success-dark">dark</div>
        <div class="palette__card palette__card--success-darker">darker</div>
    </li>
    <li class="palette__line">
        <div class="palette__card palette__card--warning-ultra-light">ultra light</div>
        <div class="palette__card palette__card--warning-extra-light">extra light</div>
        <div class="palette__card palette__card--warning-lighter">lighter</div>
        <div class="palette__card palette__card--warning-light">light</div>
        <div class="palette__card palette__card--warning">Warning</div>
        <div class="palette__card palette__card--warning-dark">dark</div>
        <div class="palette__card palette__card--warning-darker">darker</div>
    </li>
    <li class="palette__line">
        <div class="palette__card palette__card--error-ultra-light">ultra light</div>
        <div class="palette__card palette__card--error-extra-light">extra light</div>
        <div class="palette__card palette__card--error-lighter">lighter</div>
        <div class="palette__card palette__card--error-light">light</div>
        <div class="palette__card palette__card--error">Error</div>
        <div class="palette__card palette__card--error-dark">dark</div>
        <div class="palette__card palette__card--error-darker">darker</div>
    </li>
    <li class="palette__line">
        <div class="palette__card palette__card--info-ultra-light">ultra light</div>
        <div class="palette__card palette__card--info-extra-light">extra light</div>
        <div class="palette__card palette__card--info-lighter">lighter</div>
        <div class="palette__card palette__card--info-light">light</div>
        <div class="palette__card palette__card--info">Info</div>
        <div class="palette__card palette__card--info-dark">dark</div>
        <div class="palette__card palette__card--info-darker">darker</div>
    </li>
</ul>
