<span>Message</span>
<button aui-button (click)="messageService.success('success')">
  success
</button>
<button aui-button (click)="messageService.warning('warning')">
  warning
</button>
<button aui-button (click)="messageService.error('error')">
  error
</button>
<button aui-button (click)="messageService.info({content:'info',duration:0,id:'test01'})">
  info
</button>
