<div class="aui-layout-nav-drawer">
  <header class="aui-layout-nav-drawer__header">
    <ng-container *ngTemplateOutlet="_headerTemplate"></ng-container>
  </header>
  
  <div class="aui-layout-nav-drawer__content">
    <ng-container *ngTemplateOutlet="_contentTemplate"></ng-container>
  </div>
</div>
