@import '../../theme/_var';

.aui-layout-nav-drawer {
  display: flex;
  flex-flow: column;

  &__header {
    position: relative;
    height: $layout-header-height;
    width: 100%;
    background-color: $layout-nav-drawer-header-background;
  }

  &__content {
    flex: 1;
    background-color: $nav-background-color-main;
  }
}
