<div [class]="bem.block(inputRef.size$ | async)" [class.isDisabled]="inputRef.disabled$ | async" [class.hasAddonBefore]="addonBeforeRef"
  [class.hasAddonAfter]="addonAfterRef" [class.hasPrefix]="prefixRef" [class.hasSuffix]="suffixRef">
  <div [class]="bem.element('inner-wrapper')">
    <div *ngIf="addonBeforeRef" [class]="bem.element('addon','before')">
      <ng-content select="[auiInputAddonBefore]"></ng-content>
    </div>
    <div [class]="bem.element('input-wrapper')">
      <span *ngIf="prefixRef" [class]="bem.element('prefix')">
        <ng-content select="[auiInputPrefix]"></ng-content>
      </span>
      <ng-content select="input[aui-input]"></ng-content>
      <span *ngIf="suffixRef" [class]="bem.element('suffix')">
        <ng-content select="[auiInputSuffix]"></ng-content>
      </span>
    </div>
    <div *ngIf="addonAfterRef" [class]="bem.element('addon','after')">
      <ng-content select="[auiInputAddonAfter]"></ng-content>
    </div>
  </div>
</div>