@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-input-group {
  @include border-box-sizing();
  display: inline-block;
  width: 100%;
  color: $input-color;

  &.isDisabled {
    color: $input-placeholder-color;
  }

  &--large {
    height: $input-large-height;
    font-size: $input-large-font-size;
    &.aui-input-group.hasPrefix .aui-input {
      padding-left: $input-padding-hoz * 2 + $input-large-font-size;
    }
    &.aui-input-group.hasSuffix .aui-input {
      padding-right: $input-padding-hoz * 2 + $input-large-font-size;
    }
  }

  &--medium {
    height: $input-medium-height;
    font-size: $input-medium-font-size;

    &.aui-input-group.hasPrefix .aui-input {
      padding-left: $input-padding-hoz * 2 + $input-medium-font-size;
    }
    &.aui-input-group.hasSuffix .aui-input {
      padding-right: $input-padding-hoz * 2 + $input-medium-font-size;
    }
  }

  &--small {
    height: $input-small-height;
    font-size: $input-small-font-size;
    &.aui-input-group.hasPrefix .aui-input {
      padding-left: $input-padding-hoz * 2 + $input-small-font-size;
    }
    &.aui-input-group.hasSuffix .aui-input {
      padding-right: $input-padding-hoz * 2 + $input-small-font-size;
    }
  }

  &--mini {
    height: $input-mini-height;
    font-size: $input-mini-font-size;
    &.aui-input-group.hasPrefix .aui-input {
      padding-left: $input-padding-hoz * 2 + $input-mini-font-size;
    }
    &.aui-input-group.hasSuffix .aui-input {
      padding-right: $input-padding-hoz * 2 + $input-mini-font-size;
    }
  }

  &__inner-wrapper {
    display: flex;
    height: 100%;
  }

  &__input-wrapper {
    width: 100%;
    position: relative;
  }

  &__addon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $input-padding-hoz;
    border: $input-border-width $input-border-style $input-border-color;
    background-color: $input-bg-color-disabled;

    &--before {
      border-right: none;
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }
    &--after {
      border-left: none;
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }
  }

  &__prefix {
    position: absolute;
    top: 50%;
    left: $input-padding-hoz;
    transform: translateY(-50%);
  }

  &__suffix {
    position: absolute;
    top: 50%;
    right: $input-padding-hoz;
    transform: translateY(-50%);
  }

  &.hasAddonBefore .aui-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.hasAddonAfter .aui-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
