@import '../../theme/_var';
@import '../../theme/_mixin';
@import '../../input/tags-input/mixin';
@import '../option-container';

@include option-container(aui-option-container);

$block: aui-multi-select;

@include component-style($block);

.#{$block} {
  &__suffix {
    position: absolute;
    top: 50%;
    right: $input-padding-hoz;
    transform: translateY(-50%);
  }
  &__clear .aui-icon {
    border-radius: 100%;
    cursor: pointer;
    @include transition;
    color: $select-close-icon-color;

    &:hover {
      color: $input-bg-color;
      background-color: $select-close-icon-color;
    }
  }

  &.isDisabled &__suffix {
    color: $input-placeholder-color;
  }
}
