<div [class]="rootClass" #selectRef #tooltipRef="auiTooltip" [auiTooltip]="templateRef" [auiTooltipDisabled]="disabled" auiTooltipTrigger="click"
    auiTooltipPosition="bottom start" auiTooltipType="plain" (auiTooltipShow)="onShowOptions()" (auiTooltipHide)="onHideOptions()"
    (mousedown)="$event.preventDefault()">
    <div class="aui-multi-select__suffix">
        <aui-icon *ngIf="displayClearable()" class="aui-multi-select__clear" (click)="clearValue($event)" icon="close_8"></aui-icon>
        <aui-icon class="aui-multi-select__indicator" [icon]="loading ? 'spinner' : 'caret_down_s'"></aui-icon>
    </div>
    <span [hidden]="!displayPlaceholder" [class]="bem.element('placeholder')">{{ placeholder }}</span>
    <aui-tag *ngFor="let option of selectedOptions; trackBy: trackByValue" type="info" [round]="true" [size]="tagSize" [closeable]="!disabled"
        (close)="onRemove(option)" [ngClass]="tagClassFn && tagClassFn(option.label, option.value)">{{ option.label || trackFn(option.value) }}</aui-tag>
    <input #inputRef autocomplete="off" [readonly]="inputReadonly" [class]="inputClass" (focus)="onInputFocus()" (blur)="onInputBlur()"
        (keydown)="onKeyDown($event)" (input)="onInput($event)">
</div>

<ng-template #templateRef>
    <div class="aui-option-container" [style.minWidth]="containerWidth" (mousedown)="$event.preventDefault()">
        <div #optionListRef class="aui-option-container__content">
            <aui-option #inputingOption *ngIf="allowCreate && filterString && !(hasMatchedOption$ | async)" [value]="filterString">{{ filterString }}</aui-option>
            <ng-container *ngIf="allowCreate">
                <aui-option *ngFor="let value of customCreatedValues$ | async" [value]="value">{{ value }}</aui-option>
            </ng-container>
            <ng-content></ng-content>
        </div>
        <div [hidden]="(allowCreate && filterString) || (hasVisableOption$ | async)" class="aui-option-container__placeholder">
            <ng-content select="aui-option-placeholder"></ng-content>
        </div>
    </div>
</ng-template>