<button aui-button (click)="showDialog(template)">
  open dialog
</button>
<button aui-button (click)="confirmDialog()">
  confirm dialog
</button>

<ng-template #template>
  <aui-dialog-header>title</aui-dialog-header>
  <aui-dialog-content>content</aui-dialog-content>
  <aui-dialog-footer>
      <button
        aui-button="primary"
        (click)="openNewDialog(template)">
            OK
        </button>
      <button
        aui-button
        [auiDialogClose]="false">
            Cancel
        </button>
  </aui-dialog-footer>
</ng-template>
