@import '../theme/_var';

aui-nav {
  display: block;
}

.aui-nav {
  background-color: $nav-background-color-main;
  color: $nav-text-color;
}

// TODO: move to a better place for resuability
.aui-nav * {
  box-sizing: border-box;
}
