@import '../../theme/_var';
@import '../../theme/_mixin';

.aui-search {
  @include border-box-sizing();

  display: inline-block;
  width: 100%;
  position: relative;
  color: $input-color;

  &--large {
    $button-width: $input-padding-hoz * 2 + $input-large-font-size +
      $input-border-width;
    $icon-width: $input-padding-hoz * 2 + $input-large-font-size;

    font-size: $input-large-font-size;

    &.hasIcon .aui-search__input {
      padding-left: $icon-width;
    }

    &.hasButton .aui-search__input {
      padding-right: $button-width + $input-padding-hoz;
    }

    &.isClearable .aui-search__input,
    &.isSearching .aui-search__input {
      padding-right: $icon-width;
    }

    &.hasButton.isClearable .aui-search__input {
      padding-right: $icon-width + $button-width;
    }

    &.hasButton .aui-search__clear {
      right: $button-width + $input-padding-hoz;
    }
  }

  &--medium {
    $button-width: $input-padding-hoz * 2 + $input-medium-font-size +
      $input-border-width;
    $icon-width: $input-padding-hoz * 2 + $input-medium-font-size;

    font-size: $input-medium-font-size;

    &.hasIcon .aui-search__input {
      padding-left: $icon-width;
    }

    &.hasButton .aui-search__input {
      padding-right: $button-width + $input-padding-hoz;
    }

    &.isClearable .aui-search__input,
    &.isSearching .aui-search__input {
      padding-right: $icon-width;
    }

    &.hasButton.isClearable .aui-search__input {
      padding-right: $icon-width + $button-width;
    }

    &.hasButton .aui-search__clear {
      right: $button-width + $input-padding-hoz;
    }
  }

  &--small {
    $button-width: $input-padding-hoz * 2 + $input-small-font-size +
      $input-border-width;
    $icon-width: $input-padding-hoz * 2 + $input-small-font-size;

    font-size: $input-small-font-size;

    &.hasIcon .aui-search__input {
      padding-left: $icon-width;
    }

    &.hasButton .aui-search__input {
      padding-right: $button-width + $input-padding-hoz;
    }

    &.isClearable .aui-search__input,
    &.isSearching .aui-search__input {
      padding-right: $icon-width;
    }

    &.hasButton.isClearable .aui-search__input {
      padding-right: $icon-width + $button-width;
    }

    &.hasButton .aui-search__clear {
      right: $button-width + $input-padding-hoz;
    }
  }

  &--mini {
    $button-width: $input-padding-hoz * 2 + $input-mini-font-size +
      $input-border-width;
    $icon-width: $input-padding-hoz * 2 + $input-mini-font-size;

    font-size: $input-mini-font-size;

    &.hasIcon .aui-search__input {
      padding-left: $icon-width;
    }

    &.hasButton .aui-search__input {
      padding-right: $button-width + $input-padding-hoz;
    }

    &.isClearable .aui-search__input,
    &.isSearching .aui-search__input {
      padding-right: $icon-width;
    }

    &.hasButton.isClearable .aui-search__input {
      padding-right: $icon-width + $button-width;
    }

    &.hasButton .aui-search__clear {
      right: $button-width + $input-padding-hoz;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: $input-padding-hoz;
    transform: translateY(-50%);
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: $input-border-color-primary;
    }
  }

  &__button-icon {
    padding: 0 $input-padding-hoz;
    border-left: $input-border-style $input-border-color $input-border-width;
  }

  &__clear,
  &__spinner {
    position: absolute;
    top: 50%;
    right: $input-padding-hoz;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__clear {
    color: $input-placeholder-color;
    &:hover {
      color: $input-color;
    }
  }

  &.isDisabled {
    color: $input-placeholder-color;
  }

  &.isDisabled &__button,
  &.isDisabled &__spinner,
  &.isDisabled &__clear {
    cursor: not-allowed;
    &:hover {
      color: inherit;
    }
  }

  &.isSearching &__button {
    &:hover {
      color: $input-color;
      cursor: initial;
    }
  }
}
