value: {{ checkedMap | json }}
<section>
  <aui-checkbox [(ngModel)]="checkedMap.a" (ngModelChange)="modelChange(checkedMap)">aaaaaaa</aui-checkbox>
  <aui-checkbox [(ngModel)]="checkedMap.b" (ngModelChange)="modelChange(checkedMap)">bb</aui-checkbox>
</section>
<section>
  <aui-checkbox [(ngModel)]="checkedMap.a" (ngModelChange)="modelChange(checkedMap)" [disabled]="true">aaaaaaa</aui-checkbox>
  <aui-checkbox [(ngModel)]="checkedMap.b" (ngModelChange)="modelChange(checkedMap)">bb</aui-checkbox>
</section>
