<span>value:: {{ food }}</span>
<br/>
<aui-radio-group #radio name="food1" [(value)]="food">
  <aui-radio value="7">777777</aui-radio>
  <aui-radio value="8">888888</aui-radio>
  <aui-radio value="9" disabled="true">999999</aui-radio>
  <aui-radio value="10">10101010</aui-radio>
</aui-radio-group>
<br/>
<br/>

<span>isPlain:true(default)</span>
<br>
<span>small:</span>
<br>
<aui-radio-group #radio1 [size]="size.Small" name="food2" [(ngModel)]="food">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>
<br/>
<br/>

<span>medium:</span>
<br>
<aui-radio-group #radio2 [size]="size.Medium" name="food3" [(ngModel)]="food">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>

<br>
<br>
<span>not isPlain:</span>
<br>
<span>medium</span>
<br>
<aui-radio-group #radio3 [size]="size.Medium" [isPlain]="false" name="food4" [(ngModel)]="food">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>

<br>
<br>
<span>small</span>
<br>
<aui-radio-group #radio4 [size]="size.Small" [isPlain]="false" name="food5" [(ngModel)]="food">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>

<br>
<br>
<span>mini</span>
<br>
<aui-radio-group #radio5 [size]="size.Mini" [isPlain]="false" name="food6" [(value)]="food">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>

<br>
<br>
<span>with value change confirm (only '7' is right)</span>
<br>
<aui-radio-group #radio11 [isPlain]="false" name="food11" [value]="food" (valueChange)="onValueChange($event);">
  <aui-radio-button value="7">777777</aui-radio-button>
  <aui-radio-button value="8">888888</aui-radio-button>
  <aui-radio-button value="9" disabled="true">999999</aui-radio-button>
  <aui-radio-button value="10">10101010</aui-radio-button>
</aui-radio-group>