@import '../theme/_var';
@import '../theme/_mixin';

.aui-input {
  @include border-box-sizing();

  display: inline-block;
  width: 100%;
  padding: 0 $input-padding-hoz;
  border: $input-border-style $input-border-width $input-border-color;
  border-radius: $input-border-radius;
  background-color: $input-bg-color;
  color: $input-color;
  outline: none;
  text-overflow: ellipsis;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:hover,
  &:focus,
  &.isFocused {
    border-color: $input-border-color-primary;
  }

  &[disabled] {
    color: $input-placeholder-color;
    background-color: $input-bg-color-disabled;
    border-color: $input-border-color;
    cursor: not-allowed;
  }

  &--large {
    height: $input-large-height;
    font-size: $input-large-font-size;
  }

  &--medium {
    height: $input-medium-height;
    font-size: $input-medium-font-size;
  }

  &--small {
    height: $input-small-height;
    font-size: $input-small-font-size;
  }

  &--mini {
    height: $input-mini-height;
    font-size: $input-mini-font-size;
  }
}

textarea.aui-input {
  padding: $input-padding-hoz / 2 $input-padding-hoz;
  line-height: 1.5;
  resize: vertical;
  overflow: auto;

  &--large {
    height: $input-large-height * 2;
    min-height: $input-large-height;
    font-size: $input-large-font-size;
  }

  &--medium {
    height: $input-medium-height * 2;
    min-height: $input-medium-height;
    font-size: $input-medium-font-size;
  }

  &--small {
    height: $input-small-height * 2;
    min-height: $input-small-height;
    font-size: $input-small-font-size;
  }

  &--mini {
    height: $input-mini-height * 2;
    min-height: $input-mini-height;
    font-size: $input-mini-font-size;
  }
}

.aui-form-item.hasError .aui-input.ng-invalid {
  border-color: $color-error;
}
