<div class="aui-layout">
  <aui-layout-nav-drawer [hidden]="!showDrawer">
    <ng-container *auiNavDrawerHeader>
      <ng-container *ngTemplateOutlet="_navDrawerHeader"></ng-container>
    </ng-container>
  
    <ng-container *auiNavDrawerContent>
      <ng-container *ngTemplateOutlet="_navDrawerContent"></ng-container>
    </ng-container>
  </aui-layout-nav-drawer>
  
  <div class="aui-layout__right-pane">
    <div class="aui-layout__toolbar">
      <ng-container *ngTemplateOutlet="_toolbarContent"></ng-container>
    </div>
  
    <div class="aui-layout__page-header">
      <ng-container *ngTemplateOutlet="_pageHeader"></ng-container>
    </div>
  
    <div class="aui-layout__page" cdkScrollable>
      <ng-container *ngTemplateOutlet="_pageContent"></ng-container>
    </div>
  </div>  
</div>
