@import '../theme/_var';

.aui-layout {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $layout-background-main;

  .aui-layout-nav-drawer {
    position: relative;
    z-index: 3;
    height: 100%;
    width: $layout-nav-drawer-width;
  }

  &__right-pane {
    position: relative;
    z-index: 2;
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }

  &__toolbar {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    height: $layout-header-height;
    align-self: stretch;
    background-color: $layout-nav-toolbar-background-color;
    padding: 0 $layout-container-padding;
  }

  &__page-header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: $layout-page-header-height;
    background-color: $color-white;
    padding: 0 $layout-container-padding;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
  }

  &__page {
    position: relative;
    z-index: 1;
    flex: 1;
    overflow: auto;
    padding: $layout-container-padding;
  }
}
