<div 
  class="aui-nav-item"
  [class.aui-nav-item--active]="active"
  [class.aui-nav-item--expanded]="expanded"
  [class.aui-nav-item--is-root]="isRoot"
  [class.aui-nav-item--nested]="!isRoot">
  <div class="aui-nav-item__label" (click)="labelClicked($event)">

    <div class="aui-nav-item__label__content">
      <ng-content></ng-content>
    </div>

    <div *ngIf="_extTemplate" class="aui-nav-item__ext-toggle" [class.aui-nav-item__ext-toggle--expanded]="expanded">
      <ng-container *ngTemplateOutlet="expand_more_svg"></ng-container>
    </div>
  </div>

  <div *ngIf="_extTemplate" [class.aui-nav-item__ext--expanded]="expanded" class="aui-nav-item__ext">
    <ng-container *ngTemplateOutlet="_extTemplate"></ng-container>
  </div>

  <!-- Credit: Material Icons. See https://material.io/icons/#ic_expand_more -->
  <ng-template #expand_more_svg>
    <aui-icon icon="angle_down"></aui-icon>
  </ng-template>
</div>