@import '../../theme/_var';

$namespace: 'aui-nav-item';

.#{$namespace} {
  position: relative;
  width: 100%;
}

.#{$namespace}__label {
  position: relative;
  cursor: pointer;
  font-size: $nav-text-height;
  line-height: $nav-text-line-height;
  min-height: $nav-text-line-height;
  padding: $nav-item-label-padding;
  opacity: $nav-text-inactive-opacity;
}

.#{$namespace}--active > .#{$namespace}__label,
.#{$namespace}__label:hover {
  opacity: 1;
}

.#{$namespace}__ext {
  display: none;
  background-color: $nav-background-color-secondary;
  // Make room for the indicator
  padding: $nav-item-ext-padding;

  &--expanded {
    display: block;
  }

  .#{$namespace}__label {
    padding: $nav-item-label-nested-padding;
  }
}

.#{$namespace}__ext-toggle {
  position: absolute;
  right: 12px;
  top: calc(50% - #{$nav-item-ext-toggle-icon-size} / 2);
  height: $nav-item-ext-toggle-icon-size;
  width: $nav-item-ext-toggle-icon-size;
  color: $color-white;
  transform: rotate(90deg);
  cursor: pointer;

  > svg {
    fill: $color-white;
    height: 100%;
    width: 100%;
  }

  &--expanded {
    transform: rotate(0);
  }
}

.#{$namespace}--is-root {
  padding-left: $nav-active-indicator-width;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: $nav-active-indicator-width;
    height: 100%;
    background-color: transparent;
  }

  &.#{$namespace}--active:before {
    background-color: $nav-active-indicator-color;
  }
}
